/* For all */
*{
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
body{
    background-color: black;
    background-image: url(../media/Fondo.png);
    background-size: 50rem;
}
/* CSS for the index page*/
.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    text-align: center;
}
header {
    height: 100vh;    
    background-image: linear-gradient(to top, rgba(202, 169, 58, 0.4) 0%, rgba(253, 159, 133, 0.4) 100%), url(../media/fondo_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.head {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}
.menu {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #f6d365;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
img#landing_logo {
    position: fixed;
    top: 10px;
    left: 30px;
    float: left;
    width: 65px;
}
.navigation-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.navigation-menu a {
    color: #000;
    text-decoration: none;
}
.spread {
    transform: translate(0);
}
.title {
    font-size: 60px;
    margin-bottom: 15px;
}
.description {
    font-weight: 300;
    font-size: 25px;
}
.subtitle {
    text-align: center;
    font-weight: 300;
    color: #f6d365;
    margin-bottom: 40px;
    font-size: 40px;
}
.gallery {
    /* background: #f6d365; */
}
.gallery_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img_gallery {
    width: 25%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.img_light {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}
.show {
    transform: translate(0);
}
.add_img {
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.show_img {
    transform: scale(1);
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}
footer {
    background: #f6d365;
    padding-bottom: 0.1px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us {
    width: 40%;
    color: #000000;
    text-shadow: 2px 2px 4px #000000;
}
.brand {
    font-weight: 500;
    font-size: 40px;
}
.brand+p {
    font-weight: 500;
}
.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 50%;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 4px #000000;
}
.social-media-icon:hover {
    background: #000000;
    color: #caa93a;
}
.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}
.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #000000;
    margin-bottom: 60px;
}
/* CSS for the form page*/
img#background_form{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
div#container_form{
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}
.form{
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#form-title{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}
input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
input:focus{
    border-bottom:2px solid #78788c
}
p.p_form:before{content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
button:hover{
    background:#78788c;
    color:#fff
}
details{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

.valido {
    color: #44E444;
}
   
.invalido {
    color: #FF0000;
}